
body{
    /*background-color:#405BC7;*/
    background-color:floralwhite;
}

#ThemeList{
    margin-left:35px;
}

#sidebrandBrand{
    cursor:text;
}

#sidebar-brand:hover{

}


#loginStatusName{
    /*display:inline-flex;*/
    display:inline-table;
}

#LoginName1{
    color:#999999;
    padding-left:5px;
}
#LoginName1:hover{
    cursor:pointer;
}


#LoginStatus1:hover{
    background-color:transparent;
}

 #animWrapper{
    display:none;
}

#jumbotronContent{
    padding:8px;
}